html, body {
  background-color: #1c405a;
  margin: 0;
}

.navbar {
  background: #fd5452;
  display: flex;
  margin-bottom: 2vw;
}

.items {
  margin-left: auto;
  margin-right: 5vw;
  display: flex;
}

button {
  background: #fd5452;
  display: flex;
  border: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 3vw;
  font-weight: 300;
}

.pininNavBar {
  border-left: 1px solid rgba(46, 45, 45, 0.609);
  border-right: 1px solid rgba(46, 45, 45, 0.609);
}

.pressed {
  background: #1c405a;
  color: antiquewhite;
  display: flex;
  border: none;
  border-top: 1px solid antiquewhite;
  border-right: 1px solid antiquewhite;
  border-left: 1px solid antiquewhite;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: 'Source Code Pro', monospace;
  font-size: 3vw;
  font-weight: 300;
}