.card__container {
    min-height: 60vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0.5vw solid #fd5452;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5vw;
}

.card_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    margin-top: 1vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2vw;
}

.check, .next {
    border: 0.25vw solid #ff792d;
    border-radius: 12px;
    background-color: antiquewhite;
    font-family: 'Source Code Pro', monospace;
    font-size: 4vw;
    font-weight: 300;
}

.repeat {
    padding: 4vw;
    background: url(./exersises/megaphone.svg) no-repeat center;
    border: none;
}

.hieroglyph {
    font-size: 6vw;
    font-weight: 300;
}

.pinin, .translation {
    font-family: 'Source Code Pro', monospace;
    font-size: 6vw;
    font-weight: 300;
}

.words {
    margin-top: 9vw;
    margin-bottom:5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 42vw;
}

.pininInput {
    top: 14.5vw;
    width: 35vw;
    height: 3rem;
    font-family: 'Source Code Pro', monospace;
    font-size: 4vw;
    font-weight: 300;
    padding-bottom: 1vw;
    margin-right: auto;
    margin-left: auto;
}

p {
    margin: 0.3vw;
}